.LaoListWrapper {
	width: 100%;
	height: 100%;
}
ul.LaoList {
	display: table;
	width: 100%;
	margin: 0;
	list-style: none;
	padding-left: 0;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.LaoListItem {
	display: table-row;
}
.LaoListItem-select {
	background: blue;
}
.ListItem-Cell {
	display: table-cell;
}

.LaoScaffold {
	width: 100%;
	height: 100%;
}
.LaoTableRoot {
	display: table;
	width: 100%;
	height: 100%;
}
.LaoTableRow {
	display: table-row;
}
.LaoTableCell {
	display: table-cell;
	vertical-align: top;
}


.LaoCaretUp, .LaoCaretRight, .LaoCaretLeft, .LaoCaretDown {
	display: inline-block;
	width: 0;
	height: 0;
	content: "";
	vertical-align: top;
}
.LaoCaretUp {
	border-bottom: 8px solid #404040;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.LaoCaretRight {
	border-left: 8px solid #404040;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.LaoCaretDown {
	border-top: 8px solid #404040;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.LaoCaretLeft {
	border-right: 8px solid #404040;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.LaoCaretUp.LaoSmall {
	border-bottom: 4px solid #404040;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}
.LaoCaretRight.LaoSmall {
	border-left: 4px solid #404040;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
.LaoCaretDown.LaoSmall {
	border-top: 4px solid #404040;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}
.LaoCaretLeft.LaoSmall {
	border-right: 4px solid #404040;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
.LaoDropdownMenu {
	font-family: sans-serif;
	font-size: 13px;
	position: absolute;
	background: rgba(255,255,255,0.95);
	width: auto;
	height: auto;
	padding: 5px 0;
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.LaoDropdownMenu.LaoDropdownClose {
	display: none;
}
.LaoDropdownItem {
}
.LaoDropdownItem.isSelected {
	background: #658bf1; /* Old browsers */
	background: -moz-linear-gradient(top,  #658bf1 0%, #1f58e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#658bf1), color-stop(100%,#1f58e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #658bf1 0%,#1f58e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #658bf1 0%,#1f58e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #658bf1 0%,#1f58e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #658bf1 0%,#1f58e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#658bf1', endColorstr='#1f58e6',GradientType=0 ); /* IE6-9 */
}
.LaoDropdownItemIcon {
	display: table-cell;
	vertical-align: middle;
	padding: 3px 0 5px 10px;
}
.LaoDropdownItemName {
	display: table-cell;
	vertical-align: middle;
	padding: 8px 20px 8px 5px;
	cursor: default;
}
.LaoDropdownItem.isSelected > .LaoDropdownItemName {
	color: #fff;
}
.LaoDropdownSubmenuIndicator {
	float: right;
	margin-top: 3px;
	margin-right: -10px;
	margin-left: 30px;
}
.LaoDropdownItem.isSelected > .LaoDropdownItemName > .LaoDropdownSubmenuIndicator {
	border-left-color: #fff;
}
.LaoDropdownSubmenu {
	position: relative;
	top: -5px;
}
.LaoDropdownSubmenu > .LaoDropdownMenu {
	display: none;
}
.LaoDropdownItem.isSelected > .LaoDropdownSubmenu > .LaoDropdownMenu,
.LaoDropdownItem.isSelected > .LaoDropdownSubmenu > .LaoDropdownMenu {
	display: block;
}

.LaoDropdownUp {
	display: none;
}
.LaoDropdownDown {
	display: none;
}

.LaoDropdownExpandDown > .LaoDropdownWrapper,
.LaoDropdownExpandUp > .LaoDropdownWrapper {
	height: inherit;
	overflow: hidden;
}
.LaoDropdownExpandDown > .LaoDropdownDown {
	display: block;
	text-align: center;
	padding-top: 4px;
}
.LaoDropdownExpandUp > .LaoDropdownUp {
	display: block;
	text-align: center;
	padding-bottom: 4px;
}

.LaoDropdownContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10000;
}


.LaoToolbar > ul.LaoList {
	width: auto;
}
.LaoToolbarItem {
	display: table-cell;
	width: 50px;
	padding-top: 10px;
	padding-left: 10px;

	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
}
.LaoToolbarMenuIndicator {
	float: right;
	margin-top: -7px;
}
.LaoIcon {
	display: inline-block;
}
.LaoActive .LaoIcon {
	background-position-x: -36px !important;
}

.LaoClear {
	clear: both;
}


.Layers {
	font-family: sans-serif;
	font-size: 13px;
	cursor: default;
}
.listitem-visibility {
	width: 15px;
}
.listitem-visibility.listitem-is-visible {
	background: url("../../openEye.png") 0 3px no-repeat;
}
.listitem-visibility.listitem-is-invisible {
	background: url("../../closedEye.png") 0 3px no-repeat;
}
.listitem-name {
	padding-left: 5px;
	text-transform: capitalize;
}