.ds-canvas {
	position: absolute;
	width: 99%;
	height: 99%;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	overflow: hidden;
}
.ds-canvas-viewport {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
}
.ds-canvas-scrollport {
	position: absolute;
	overflow: hidden;
}

.ds-canvas-templatelayer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ds-canvas-metalayer {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
}
.ds-canvas-contentlayer {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ds-canvas-page {
	position: absolute;
}

.ds-canvas-metalayer > .ds-canvas-page-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	border-color: rgba(180,180,180,0.5);
	border-style: solid;
}
.ds-canvas-page-wrapper > .ds-canvas-page {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
	box-shadow: 2px 2px #333;
}


.ds-canvas-guide {
	position: absolute;
	background: cyan;
	cursor: row-resize;
}
.ds-canvas-guide-horizontal {
	cursor: row-resize;
	width: 100%;
	height: 1px;
	left: 0;
}
.ds-canvas-guide-vertical {
	cursor: col-resize;
	width: 1px;
	height: 100%;
	top: 0;
}
.ds-canvas-item {
	position: absolute;
	background: red;
	overflow: hidden;
}
.ds-canvas-item-selected {
	
}
.ds-canvas-selectframe {
	position: absolute;
	border: 1px solid rgba(128,128,128,0.3);
	box-sizing: border-box;
}
.ds-canvas-selectframe-handle {
	display: none;
	position: absolute;
	width: 5px;
	height: 5px;
	background: #fff;
	border: 1px solid #000;				
}
.ds-selected .ds-canvas-selectframe-handle {
	display: block;
	z-index: 4;
}
.ds-canvas-selectframe-handle-nw {
	top: -3px;
	left: -3px;
	cursor: nw-resize;
}
.ds-canvas-selectframe-handle-n {
	top: -3px;
	left: 50%;
	margin: 0 3px 0 -3px;
	cursor: n-resize;
}
.ds-canvas-selectframe-handle-ne {
	top: -3px;
	right: -3px;
	cursor: ne-resize;
}
.ds-canvas-selectframe-handle-e {
	top: 50%;
	right: -3px;
	margin: -3px 0 3px 0;
	cursor: e-resize;
}
.ds-canvas-selectframe-handle-se {
	bottom: -3px;
	right: -3px;
	cursor: se-resize;
}
.ds-canvas-selectframe-handle-s {
	bottom: -3px;
	left: 50%;
	margin: 0 3px 0 -3px;
	cursor: s-resize;
}
.ds-canvas-selectframe-handle-sw {
	bottom: -3px;
	left: -3px;
	cursor: sw-resize;
}
.ds-canvas-selectframe-handle-w {
	top: 50%;
	left: -3px;
	margin: -3px 0 3px 0;
	cursor: w-resize;
}
.ds-canvas-multipleselect {
	position: absolute;
	background: #EEE;
	border: 1px solid #888;
	opacity: 0.5;
	display: none;
	z-index: 5;
}


.ds-canvas-ruler-corner {
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #ededed;
	z-index: 1;
}
.ds-canvas-ruler-container-vertical {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 14px;
	background: #ededed;
	border-right: 1px solid #000;
	overflow: hidden;
	z-index: 1;
	cursor: default;
}
.ds-canvas-ruler-vertical {
	width: 100%;
	position: absolute;
}
.ds-canvas-ruler-line-vertical {
	position: absolute;
	background: #000;
	left: 11px;
	height: 1px;
	width: 3px;
}
.ds-canvas-ruler-line-vertical-seperator {
	position: absolute;
	background: #000;
	left: 0px;
	height: 1px;
	width: 14px;
}
.ds-canvas-ruler-line-vertical-tenth {
	position: absolute;
	background: #000;
	left: 10px;
	height: 1px;
	width: 4px;
}
.ds-canvas-ruler-container-horizontal {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 100%;
	background: #ededed;
	border-bottom: 1px solid #000;
	overflow: hidden;
	z-index: 1;
	cursor: default;
}
.ds-canvas-ruler-horizontal {
	height: 100%;
	position: absolute;
}
.ds-canvas-ruler-line-horizontal {
	position: absolute;
	background: #000;
	top: 11px;
	width: 1px;
	height: 3px;
}
.ds-canvas-ruler-line-horizontal-seperator {
	position: absolute;
	background: #000;
	top: 0px;
	width: 1px;
	height: 14px;
}
.ds-canvas-ruler-line-horizontal-tenth {
	position: absolute;
	background: #000;
	top: 10px;
	width: 1px;
	height: 4px;
}

.ds-canvas-ruler-number-horizontal {
	position: absolute;
	font-size: 8px;
	font-family: Tahoma;
	letter-spacing: 0.3em;
	text-align: left;
	margin-left: 2px;
}
.ds-canvas-ruler-number-vertical {
	position: absolute;
	font-size: 8px;
	font-family: Tahoma;
	line-height: 8px;
	left: 3px;
	width: 5px;
	margin-top: 2px;
	word-break: break-all;
}

.ds-canvas-ruler-coordindicator-horizontal {
	position: absolute;
	width: 1px;
	height: 14px;
	border-left: 1px dotted #000;
	top: 0;
	margin-left: 1px;
}
.ds-canvas-ruler-coordindicator-vertical {
	position: absolute;
	width: 14px;
	height: 1px;
	border-top: 1px dotted #000;
	left: 0;
	margin-top: 1px;
}